.Flex-box{
    display: flex;
    flex-direction: row;
    align-content: center;
    min-height: 220px;
}

#panelButtons{
    display: flex;
    background-color: bisque;
    width: 50%;
    flex-direction: column;
}

#panelListToDo{
    background-color: rgba(255, 235, 205, 0.466);
    width: 50%;
    text-align: center;
    align-content: center;
    display: inline-block;
}

button{
    width: 140px;
    align-self: center;
}

ol{
    display: flex;
    width: fit-content;
    flex-direction: column;
    align-content: center;
}

li[data-undone]{
    font-weight: 550;
}